<!-- Utilsation d'un template bootstrap pour l'identification -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <br>
    <form class="form-signin" action='/gossips' method='GET'>
      <h3 class="h3 mb-3 font-weight-normal">Entre ton blaz pour connaitre les bails :) !</h3>
      <label for="inputText" class="sr-only">ton blaz</label>
      <input type="text" name="first_name" class="form-control" placeholder="ton blaz" required autofocus> <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Me connecter</button>
      <p class="mt-5 mb-3 text-muted">&copy; TheHackingProject 2019</p>
    </form>

  </body>
</html>
